<div class="mt-4"></div>
<h2>Rates</h2>

<div class="row">
    <div class="col">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Taxa week</div>
    <div class="card-body">
      <h5 class="card-title">Semanal em horário predefinido.</h5>
      <p class="card-text">De segunda à sexta o valor da taxa para transferência é de R$ 5,00 por cada.</p>
    </div>
  </div>
    </div>
    <div class="col">
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Taxa weekend</div>
    <div class="card-body">
      <h5 class="card-title">Fora dos horários estabelecidos e finais de semana</h5>
      <p class="card-text">O valor da taxa para transferência é de R$ 7,00 por cada.</p>
    </div>
  </div>
    </div>
    <div class="col">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Taxa Premium</div>
    <div class="card-body">
      <h5 class="card-title">Valor acima de R$ 1000,00</h5>
      <p class="card-text">O valor da taxa para transferência é de R$ 10,00 por cada.</p>
    </div>
  </div>
    </div>
  </div>



