<div class="mt-4"></div>
<h2>Services</h2>

<div class="row">
  <div class="col-sm-4">
    <a href="/accounts" alt="Criar conta">
      <div class="card text-center btn btn-warning">
        <div class="card-body">
          <h5 class="card-title">Bank Account</h5>
        </div>
      </div>
    </a> 
  </div>
  <div class="col-sm-4">
    <a href="/deposits/new" alt="Depósito Bancário">
      <div class="card text-center btn btn-warning">
        <div class="card-body">
          <h5 class="card-title">Bank Deposit </h5>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-4">
    <a href="/transactions/new" alt="Tranferência Bancário">
      <div class="card text-center btn btn-warning">
        <div class="card-body">
          <h5 class="card-title">Bank Transf</h5>
        </div>
      </div>
    </a>
  </div>
</div>

 
<div class="row">
  <div class="col-sm-12"><div class="mt-4"></div> </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <a href="/transactions/cash" alt="Saque Bancário">
      <div class="card text-center btn btn-warning">
        <div class="card-body">
          <h5 class="card-title">Cash withdrawal</h5>
        </div>
      </div>
    </a> 
  </div>
  <div class="col-sm-4">
    <a href="/accounts" alt="Saldo Bancário">
      <div class="card text-center btn btn-warning">
        <div class="card-body">
          <h5 class="card-title"> Balance</h5>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-4">
    <a href="/accounts/statement" alt="Extrato Bancário">
      <div class="card text-center btn btn-warning">
        <div class="card-body">
          <h5 class="card-title"> Account statement</h5>
        </div>
      </div>
    </a>
  </div>
</div>

</div>