// @import "bootstrap/dist/css/bootstrap";

// .navbar-pos {
//   margin-top: -6px;
// }

.font-logo {
  margin-top: 28px;
  margin-left: -67px;
}

.font-text {
  font-size: medium;
  color: black;
}

// a:link {
//   text-decoration: none;
// }
